$header-height: 60px;
// $sidebar-width: calc(180px + min(100px, calc(100vw * calc(100 / 1920))));
$sidebar-width: 208px; // maybe static sidebar width is better than have it flex. w-52 is 208px.
$footer-height: 53px;
$responsive-breakpoint: 768px;

#layout {
  --header-height: #{$header-height};
  --header-top: 0px;
  --header-height-clearance: calc(
    var(--header-height) + env(safe-area-inset-top, 0px)
  );
  --footer-height-clearance: 0px;
  --sidebar-width: #{$sidebar-width};

  &.sidebar-static {
    --sidebar-width-clearance: calc(
      #{$sidebar-width} + env(safe-area-inset-left, 0px)
    );
  }

  &.sidebar-floating {
    --sidebar-width-clearance: 0;
  }

  &.mobile-footer {
    --footer-height-clearance: calc(
      #{$footer-height} + env(safe-area-inset-bottom) / 2
    );
    // maybe add the iphone safety area here.
    grid-template-rows: var(--header-height-clearance) auto auto var(
        --footer-height-clearance
      );

    // height: 100vh;

    /* > main {
       overflow-y: auto;
     } */
  }

  &.sidebar-open {
    --sidebar-left: 0;
  }

  &.sidebar-closed {
    --sidebar-left: calc(
      -1 * var(--sidebar-width) - env(safe-area-inset-left, 0px)
    );

    &.sidebar-static {
      --sidebar-width-clearance: env(safe-area-inset-left);
    }
  }

  &.sidebar-fullscreen {
    --sidebar-width: 100vw;
  }

  &.header-hidden {
    --header-height-clearance: 0px;
    // grid-template-areas:
    //   "sidebar header"
    //   "sidebar content"
    //   "sidebar selectionfooter"
    //   "appfooter appfooter";

    > header {
      top: calc(-1 * var(--header-height));
      overflow: hidden;
    }
  }

  &.selection-footer-shown {
    // empty for now
  }

  display: grid;
  grid-template-rows: var(--header-height-clearance) auto auto var(
      --footer-height-clearance
    );
  grid-template-columns: var(--sidebar-width-clearance) auto;
  // transition: grid-template-columns 0.3s;

  min-height: 100vh;
  max-width: 100dvw;

  transition:
    grid-template-rows 0.2s,
    grid-template-columns 0.2s;

  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar selectionfooter"
    "appfooter appfooter";

  > header {
    grid-area: header;

    transition:
      top 0.2s,
      height 0.2s;
  }

  > aside#sidebar {
    grid-area: sidebar;

    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    padding-bottom: var(--footer-height-clearance);
    left: var(--sidebar-left);
    // z-index: 1;
    transition:
      left 0.3s,
      width 0.3s;
  }

  > main {
    grid-area: content;
    max-width: 100dvw;
    padding-bottom: calc(var(--footer-height-clearance) + 20px);
    // transition: None;
    // disabling for now so we can use position sticky
    // overflow-y: auto;
  }

  > footer#selectionFooter {
    grid-area: selectionfooter;
  }

  > footer#footer {
    grid-area: appfooter;
  }
}
