.slider-container {
  margin: 0px;
  padding: 0px;
  line-height: 8px;
}

.timeline-slider {
  display: inline-block;
  width: 100%;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::range-track {
    @apply bg-base-3;
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: none;
    /* background: #ffffff; */
    border-radius: 0px;
    border: 1px solid #010101;
    transition: all 0.2s ease-in-out;

    &:hover {
      @apply bg-base-8;
      height: 8px;
    }
  }

  &:hover::range-thumb {
    margin-top: 1px;
  }

  &::range-thumb {
    @apply bg-primary-8;
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 6px;
    width: 10px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
    transition: all 0.2s ease-in-out;

    &:hover {
      @apply bg-primary-10;
      height: 9px;
      margin-top: -1px;
    }
  }

  &::-moz-focus-outer {
    border: 0;
  }
}