.l_loading #tri1 {
  @apply brightness-125;
  stroke: var(--secondary-a11);
  stroke-width: 1px;
  stroke-dasharray: 7;
  animation: bounce 0.5s ease-in-out infinite alternate,
    stroke-move 8s linear infinite;
}

.l_loading #tri2 {
  @apply brightness-125;
  animation: bounce 0.5s ease-in-out infinite alternate,
    stroke-move 8s linear infinite;
  animation-delay: 250ms;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(10%);
  }
}

@keyframes stroke-move {
  to {
    stroke-dashoffset: 122;
  }
}

// .loader {
//   width: 100%;
//   height: 4.8px;
//   display: inline-block;
//   background: rgba(255, 255, 255, 0.15);
//   position: relative;
//   overflow: hidden;
// }

// .loader::after {
//   content: '';
//   width: 0%;
//   height: 4.8px;
//   background-color: #FFF;
//   font-size: 15px;
//   background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
//   background-size: 1em 1em;
//   position: absolute;
//   top: 0;
//   left: 0;
//   box-sizing: border-box;
//   animation: animFw 10s ease-in infinite, barStripe 1s linear infinite;
// }

// @keyframes barStripe {
//   0% {
//     background-position: 1em 0;
//   }

//   100% {
//     background-position: 0 0;
//   }
// }

// @keyframes animFw {
//   0% {
//     width: 0;
//   }

//   100% {
//     width: 100%;
//   }
// }