@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Inter', 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
/* Note to self: gotta be a bit careful specifying the specificity of overrides when overriding Daisy Styles.

e.g. just doing .online will NOT work
*/
.avatar.online::before {
  @apply bg-red-500;
}

.menu li a {
  @apply p-2;
}

.d-flex {
  display: flex;
}

.btn {
  animation: none;
}
.btn:active:focus {
  transform: none;  
}

.tab.tab-bordered {
  padding-top:0.5rem;
}
